<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/accordion.css">
    <title>Accordion</title>
</head>
<body>
    <div class="accordion">
        <label for="tab1">option 1</label>
        <div class="box">
            <input type="radio" name="tab" id="tab1">
            <div class="content">hello</div>
        </div>
        <label for="tab2">option 2</label>
        <div class="box">
            <input type="radio" name="tab" id="tab2">
            <div class="content">hello</div>
        </div>
        <label for="tab3">option 3</label>
        <div class="box">
            <input type="radio" name="tab" id="tab3">
            <div class="content">hello</div>
        </div>
    </div>
</body>
</html>